<h1> New link <h1>

<form action='/links' method='POST'>
    Title
    <input type='text' name='title'>
    Address
    <input type='url' name='url'>
    Tags
    <input type='text' name='tags'>
    <input type='submit' value='Create link'>
</form>
